<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718776154252-jta8losf06h7pvpd280pv57skg8nfnob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718776154252-jta8losf06h7pvpd280pv57skg8nfnob</string>
	<key>API_KEY</key>
	<string>AIzaSyACRHC4E3nRCA2SlWYzR1GUnRsS-TPnA24</string>
	<key>GCM_SENDER_ID</key>
	<string>718776154252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e79bd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e79bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718776154252:ios:863ea06b92b226b81123a9</string>
</dict>
</plist>